<h2>Showing All Articles Page</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">_id</th>
            <th scope="col">Title</th>
            <th scope="col">Summary</th>
            <th scope="col">Byline</th>
            <th scope="col">Link</th>
            <th scope="col">Article Notes</th>
            <th scope="col">Delete from Saved</th>
        </tr>
    </thead>
    <tbody>
        {{#each article}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.summary}}</td>
            <td>{{this.byline}}</td>
            <td>{{this.link}}</td>
            <td>
                <button class="article-notes" data-id={{this._id}}>Article Notes</button>
            </td>
                <button class="article-delete" data-id={{this._id}}>Delete from Saved</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>